doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Suitcase Template
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='keywords' content='')
    meta(name='author' content='')
    // Facebook and Twitter integration
    meta(property='og:title' content='')
    meta(property='og:image' content='')
    meta(property='og:url' content='')
    meta(property='og:site_name' content='')
    meta(property='og:description' content='')
    meta(name='twitter:title' content='')
    meta(name='twitter:image' content='')
    meta(name='twitter:url' content='')
    meta(name='twitter:card' content='')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='shortcut icon' href='favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet')
    // Animate.css
    link(rel='stylesheet' href='css/animate.css')
    // Icomoon Icon Fonts
    link(rel='stylesheet' href='css/icomoon.css')
    // Bootstrap
    link(rel='stylesheet' href='css/bootstrap.css')
    // Flexslider
    link(rel='stylesheet' href='css/flexslider.css')
    // Flexslider
    link(rel='stylesheet' href='css/flexslider.css')
    // Owl Carousel
    link(rel='stylesheet' href='css/owl.carousel.min.css')
    link(rel='stylesheet' href='css/owl.theme.default.min.css')
    link(rel='stylesheet' href='css/style.css')
    // Modernizr JS
    script(src='js/modernizr-2.6.2.min.js')
    // FOR IE9 below
    //if lt IE 9
      script(src='js/respond.min.js')
nav#colorlib-main-nav(role='navigation')
    a.js-colorlib-nav-toggle.colorlib-nav-toggle.active(href='#')
        i
    .js-fullheight.colorlib-table
        .colorlib-table-cell.js-fullheight
            ul
                li
                    a(href='index.html') Home
                li
                    a(href='work.html') Work
                li
                    a(href='services.html') Services
                li
                    a(href='blog.html') Case Studies
                li
                    a(href='about.html') About
                li
                    a(href='contact.html') Contact
#colorlib-page
    header
        .container
            .row
                .col-md-12
                    .colorlib-navbar-brand
                        a.colorlib-logo(href='index.html') Suitcase
                    a.js-colorlib-nav-toggle.colorlib-nav-toggle(href='#')
                        i
    aside#colorlib-hero
        .flexslider
            ul.slides
                li(style='background-image: url(images/cover_img_3.jpg);')
                    .overlay
                    .container
                        .row
                            .col-md-8.col-sm-12.col-xs-12.col-md-offset-2.text-center.slider-text
                                .slider-text-inner
                                    h2 Read our
                                    h1 Case Studies
    #colorlib-blog
        .container
            .row
                .col-md-12.col-md-offset-0
                    article.blog-entry.animate-box
                        .blog-wrap
                            .blog-image
                                a.blog-img.text-center(href='blog.html' style='background-image: url(images/blog-1.jpg);')
                                    span
                                        i.icon-link
                            h2.text-center
                                a(href='blog.html') Little Blind Text should turn around
                        .desc
                            span.category
                                a(href='blog.html')
                                    i.icon-calendar2
                                    |  January 27, 2017
                                a.posted-by(href='blog.html')
                                    i.icon-user2
                                    |  by Stephy
                                a(href='blog.html')
                                    i.icon-bubble3
                                    |  5 Comments
                            p.first-letra
                                | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn&rsquo;t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
                        p.text-center
                            a.btn.btn-primary.btn-custom(href='blog.html') Continue Reading
                    article.blog-entry.animate-box
                        .blog-wrap
                            .blog-image
                                a.blog-img.text-center(href='blog.html' style='background-image: url(images/blog-3.jpg);')
                                    span
                                        i.icon-link
                            h2.text-center
                                a(href='blog.html') Little Blind Text should turn around
                        .desc
                            span.category
                                a(href='blog.html')
                                    i.icon-calendar2
                                    |  January 27, 2017
                                a.posted-by(href='blog.html')
                                    i.icon-user2
                                    |  by Stephy
                                a(href='blog.html')
                                    i.icon-bubble3
                                    |  5 Comments
                            p.first-letra
                                | Her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word &quot;and&quot; and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn&rsquo;t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.
                        p.text-center
                            a.btn.btn-primary.btn-custom(href='blog.html') Continue Reading
                    article.blog-entry.animate-box
                        .blog-wrap
                            .blog-image
                                a.blog-img.text-center(href='blog.html' style='background-image: url(images/blog-4.jpg);')
                                    span
                                        i.icon-link
                            h2.text-center
                                a(href='blog.html') Little Blind Text should turn around
                        .desc
                            span.category
                                a(href='blog.html')
                                    i.icon-calendar2
                                    |  January 27, 2017
                                a.posted-by(href='blog.html')
                                    i.icon-user2
                                    |  by Stephy
                                a(href='blog.html')
                                    i.icon-bubble3
                                    |  5 Comments
                            p.first-letra
                                | But nothing the copy said could convince her and so it didn&rsquo;t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
                        p.text-center
                            a.btn.btn-primary.btn-custom(href='blog.html') Continue Reading
                    article.blog-entry.animate-box
                        .blog-wrap
                            .blog-image
                                a.blog-img.text-center(href='blog.html' style='background-image: url(images/blog-5.jpg);')
                                    span
                                        i.icon-link
                            h2.text-center
                                a(href='blog.html') Little Blind Text should turn around
                        .desc
                            span.category
                                a(href='blog.html')
                                    i.icon-calendar2
                                    |  January 27, 2017
                                a.posted-by(href='blog.html')
                                    i.icon-user2
                                    |  by Stephy
                                a(href='blog.html')
                                    i.icon-bubble3
                                    |  5 Comments
                            p.first-letra
                                | The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word &quot;and&quot; and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn&rsquo;t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.
                        p.text-center
                            a.btn.btn-primary.btn-custom(href='blog.html') Continue Reading
                    .row
                        .col-md-12.text-center
                            ul.pagination
                                li.disabled
                                    a(href='#') &laquo;
                                li.active
                                    a(href='#') 1
                                li
                                    a(href='#') 2
                                li
                                    a(href='#') 3
                                li
                                    a(href='#') 4
                                li
                                    a(href='#') &raquo;
    #colorlib-hire.colorlib-light-grey
        .container
            .row
                .col-md-10.col-md-offset-1.col-md-pull-1.animate-box
                    h2.heading Are you looking for a web designer?
                    p
                        a.btn.btn-primary.btn-lg(href='#') Available for Hire!
    footer
        #footer
            .container
                .row
                    .col-md-4.col-pb-sm
                        .row
                            .col-md-10
                                h2 Suitcase
                                p
                                    | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                                .row
                                    .col-md-6
                                        p From the countries Vokalia and Consonantia
                                    .col-md-6
                                        p Far far away, behind the word mountains
                    .col-md-4.col-pb-sm
                        h2 Newsletter
                        p
                            | A small river named Duden flows by their place and supplies it with the necessary regelialia
                        .subscribe.text-center
                            .form-group
                                input.form-control.text-center(type='text' placeholder='Enter Email address')
                                input.btn.btn-primary.btn-custom(type='submit' value='Subscribe')
                    .col-md-4.col-pb-sm.right-display
                        h2 Follow Us
                        p.colorlib-social-icons.colorlib-social-icons2
                            a(href='#')
                                i.icon-facebook4
                            a(href='#')
                                i.icon-twitter3
                            a(href='#')
                                i.icon-googleplus
                            a(href='#')
                                i.icon-dribbble2
                        p
                            span.block
                                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                | Copyright &copy;
                                script.
                                    document.write(new Date().getFullYear());
                                |  All rights reserved | This template is made with
                                i.icon-heart2(aria-hidden='true')
                                |  by
                                a(href='https://colorlib.com' target='_blank') Colorlib
                                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                br
                            span.block
                                | Demo Images:
                                a(href='http://nothingtochance.co/' target='_blank') nothingtochance.co
                                a(href='http://unsplash.co/' target='_blank') Unsplash
// jQuery
script(src='js/jquery.min.js')
// jQuery Easing
script(src='js/jquery.easing.1.3.js')
// Bootstrap
script(src='js/bootstrap.min.js')
// Waypoints
script(src='js/jquery.waypoints.min.js')
// Flexslider
script(src='js/jquery.flexslider-min.js')
// Counters
script(src='js/jquery.countTo.js')
// Owl Carousel
script(src='js/owl.carousel.min.js')
// Main JS (Do not remove)
script(src='js/main.js')
