doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Suitcase Template
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='keywords' content='')
  meta(name='author' content='')
  // Facebook and Twitter integration
  meta(property='og:title' content='')
  meta(property='og:image' content='')
  meta(property='og:url' content='')
  meta(property='og:site_name' content='')
  meta(property='og:description' content='')
  meta(name='twitter:title' content='')
  meta(name='twitter:image' content='')
  meta(name='twitter:url' content='')
  meta(name='twitter:card' content='')
  // Place favicon.ico and apple-touch-icon.png in the root directory
  link(rel='shortcut icon' href='favicon.ico')
  link(href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet')
  // Animate.css
  link(rel='stylesheet' href='css/animate.css')
  // Icomoon Icon Fonts
  link(rel='stylesheet' href='css/icomoon.css')
  // Bootstrap
  link(rel='stylesheet' href='css/bootstrap.css')
  // Flexslider
  link(rel='stylesheet' href='css/flexslider.css')
  // Flexslider
  link(rel='stylesheet' href='css/flexslider.css')
  // Owl Carousel
  link(rel='stylesheet' href='css/owl.carousel.min.css')
  link(rel='stylesheet' href='css/owl.theme.default.min.css')
  link(rel='stylesheet' href='css/style.css')
  // Modernizr JS
  script(src='js/modernizr-2.6.2.min.js')
  // FOR IE9 below
  //if lt IE 9
    script(src='js/respond.min.js')
nav#colorlib-main-nav(role='navigation')
  a.js-colorlib-nav-toggle.colorlib-nav-toggle.active(href='#')
    i
  .js-fullheight.colorlib-table
    .colorlib-table-cell.js-fullheight
      ul
        li
          a(href='index.html') Home
        li
          a(href='work.html') Work
        li
          a(href='services.html') Services
        li
          a(href='blog.html') Case Studies
        li
          a(href='about.html') About
        li
          a(href='contact.html') Contact
#colorlib-page
  header
    .container
      .row
        .col-md-12
          .colorlib-navbar-brand
            a.colorlib-logo(href='index.html') Suitcase
          a.js-colorlib-nav-toggle.colorlib-nav-toggle(href='#')
            i
  aside#colorlib-hero
    .flexslider
      ul.slides
        li(style='background-image: url(images/img_bg_1.jpg);')
          .overlay
          .container
            .row
              .col-md-8.col-sm-12.col-md-offset-2.col-md-pull-2.slider-text
                .slider-text-inner
                  h2 Welcome &amp; Enjoy
                  h1 Hello! I&apos;m Kirill, a developer from Siberia
                  p
                    a.btn.btn-primary.btn-learn Available For Hire!
        li(style='background-image: url(images/img_bg_2.jpg);')
          .overlay
          .container
            .row
              .col-md-8.col-sm-12.col-md-offset-2.col-md-pull-2.slider-text
                .slider-text-inner
                  h2 Building Apps
                  h1 I Build Modern &amp; Functional Apps
                  p
                    a.btn.btn-primary.btn-learn Available For Hire!
        li(style='background-image: url(images/img_bg_3.jpg);')
          .overlay
          .container
            .row
              .col-md-8.col-sm-12.col-md-offset-2.col-md-pull-2.slider-text
                .slider-text-inner
                  h2 Work
                  h1 Handcrafted Design For The Digital World
                  p
                    a.btn.btn-primary.btn-learn Available For Hire!
  #colorlib-services
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.animate-box.intro-heading
          h2 What I do
      .row
        .col-md-4.animate-box
          .services
            span.icon
              i.icon-pen3
            .desc
              h3 Web Design
              p Separated they live in Bookmarksgrove right at the coast
        .col-md-4.animate-box
          .services
            span.icon
              i.icon-diamond
            .desc
              h3 Web Development
              p Separated they live in Bookmarksgrove right at the coast
        .col-md-4.animate-box
          .services
            span.icon
              i.icon-paperplane
            .desc
              h3 Help &amp; Support
              p Separated they live in Bookmarksgrove right at the coast
      .row
        .col-md-4.animate-box
          .services
            span.icon
              i.icon-params
            .desc
              h3 Marketing
              p Separated they live in Bookmarksgrove right at the coast
        .col-md-4.animate-box
          .services
            span.icon
              i.icon-photo
            .desc
              h3 Digital Marketing
              p Separated they live in Bookmarksgrove right at the coast
        .col-md-4.animate-box
          .services
            span.icon
              i.icon-bulb
            .desc
              h3 Web Strategy
              p Separated they live in Bookmarksgrove right at the coast
  #colorlib-work
    .container-fluid
      .row
        .col-md-8.col-md-offset-2.text-center.animate-box.intro-heading
          h2 Our Works
      .row
        .col-md-6.animate-box.text-center
          a.work-img(href='work-single.html' style='background-image: url(images/work-1.jpg);')
            .overlay
            .desc
              span.icon
                i.icon-heart-outline
              p.tag
                span Illustration
                | ,
                span Logo
              h3 Work 01
              span.read-more
                | Read more
                i.icon-arrow-right3
        .col-md-6.animate-box.text-center
          a.work-img(href='work-single.html' style='background-image: url(images/work-2.jpg);')
            .overlay
            .desc
              span.icon
                i.icon-heart-outline
              p.tag
                span Web Design
                | ,
                span UI
              h3 Work 02
              span.read-more
                | Read more
                i.icon-arrow-right3
        .col-md-6.animate-box.text-center
          a.work-img(href='#' style='background-image: url(images/work-3.jpg);')
            .overlay
            .desc
              span.icon
                i.icon-heart-outline
              p.tag
                span Logo
                | ,
                span Illustration
              h3 Work 03
              span.read-more
                | Read more
                i.icon-arrow-right3
        .col-md-6.animate-box.text-center
          a.work-img(href='work-single.html' style='background-image: url(images/work-4.jpg);')
            .overlay
            .desc
              span.icon
                i.icon-heart-outline
              p.tag
                span Apps
                | ,
                span Brand Identity
              h3 Work 04
              span.read-more
                | Read more
                i.icon-arrow-right3
        .col-md-6.animate-box.text-center
          a.work-img(href='work-single.html' style='background-image: url(images/work-5.jpg);')
            .overlay
            .desc
              span.icon
                i.icon-heart-outline
              p.tag
                span Brand Identity
                | ,
                span Logo
              h3 Work 05
              span.read-more
                | Read more
                i.icon-arrow-right3
        .col-md-6.animate-box.text-center
          a.work-img(href='work-single.html' style='background-image: url(images/work-6.jpg);')
            .overlay
            .desc
              span.icon
                i.icon-heart-outline
              p.tag
                span Brand Identity
                | ,
                span Logo
              h3 Work 06
              span.read-more
                | Read more
                i.icon-arrow-right3
  #colorlib-blog
    .container-fluid
      .row
        .col-md-8.col-md-offset-2.text-center.animate-box.intro-heading
          h2 Blog
      .row
        .blog-flex
          a.one-forth.blog-img.animate-box(href='#' style='background-image: url(images/blog-1.jpg);')
          .three-forth
            .row
              .col-md-6
                a.f-blog.animate-box(href='#')
                  p.meta
                    span Brand Content
                    |  |
                    span 26 January 2017
                  h3 A small river named Duden flows by their place
                  p.read-more
                    | Read more
                    i.icon-arrow-right3
                a.f-blog.animate-box(href='#')
                  p.meta
                    span Brand Content
                    |  |
                    span 26 January 2017
                  h3 The Big Oxmox advised her not to do so, because there were thousands
                  p.read-more
                    | Read more
                    i.icon-arrow-right3
              .col-md-6
                a.f-blog.animate-box(href='#')
                  p.meta
                    span Brand Content
                    |  |
                    span 26 January 2017
                  h3 Bookmarksgrove even the all-powerful Pointing
                  p.read-more
                    | Read more
                    i.icon-arrow-right3
                a.f-blog.animate-box(href='#')
                  p.meta
                    span Brand Content
                    |  |
                    span 26 January 2017
                  h3 Even the all-powerful Pointing has no control about the blind texts
                  p.read-more
                    | Read more
                    i.icon-arrow-right3
  #colorlib-counter.colorlib-counters
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.animate-box.intro-heading
          h2 Fun Facts
          p
            | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
      .row.animate-box
        .col-md-10.col-md-offset-1
          .row
            .col-md-4.text-center
              span.colorlib-counter.js-counter(data-from='0' data-to='456' data-speed='5000' data-refresh-interval='50')
              span.colorlib-counter-label Coffee
            .col-md-4.text-center
              span.colorlib-counter.js-counter(data-from='0' data-to='899' data-speed='5000' data-refresh-interval='50')
              span.colorlib-counter-label Done Projects
            .col-md-4.text-center
              span.colorlib-counter.js-counter(data-from='0' data-to='2000' data-speed='5000' data-refresh-interval='50')
              span.colorlib-counter-label Subscribers
  #colorlib-testimony.colorlib-light-grey
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.animate-box.intro-heading
          h2 Our Client Says:
      .row
        .col-md-12
          .row.animate-box
            .owl-carousel1
              .item
                .testimony-slide.text-center.active
                  figure
                    img(src='images/person1.jpg' alt='user')
                  blockquote
                    p
                      i.icon-quotes-left
                      |  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                    span Andrew Field, Blogger
              .item
                .testimony-slide.text-center.active
                  figure
                    img(src='images/person2.jpg' alt='user')
                  blockquote
                    p
                      i.icon-quotes-left
                      |  Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                    span Mark Bubble, Web Designer
              .item
                .testimony-slide.text-center.active
                  figure
                    img(src='images/person3.jpg' alt='user')
                  blockquote
                    p
                      i.icon-quotes-left
                      |  Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                    span Adam Smith, Guest
  #colorlib-hire
    .container
      .row
        .col-md-10.col-md-offset-1.col-md-pull-1.animate-box
          h2.heading Are you looking for a web designer?
          p
            a.btn.btn-primary.btn-lg(href='#') Available for Hire!
  footer
    #footer
      .container
        .row
          .col-md-4.col-pb-sm
            .row
              .col-md-10
                h2 Suitcase
                p
                  | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                .row
                  .col-md-6
                    p From the countries Vokalia and Consonantia
                  .col-md-6
                    p Far far away, behind the word mountains
          .col-md-4.col-pb-sm
            h2 Newsletter
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia
            .subscribe.text-center
              .form-group
                input.form-control.text-center(type='text' placeholder='Enter Email address')
                input.btn.btn-primary.btn-custom(type='submit' value='Subscribe')
          .col-md-4.col-pb-sm.right-display
            h2 Follow Us
            p.colorlib-social-icons.colorlib-social-icons2
              a(href='#')
                i.icon-facebook4
              a(href='#')
                i.icon-twitter3
              a(href='#')
                i.icon-googleplus
              a(href='#')
                i.icon-dribbble2
            p
              span.block
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright &copy;
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with
                i.icon-heart2(aria-hidden='true')
                |  by
                a(href='https://colorlib.com' target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                br
              span.block
                | Demo Images:
                a(href='http://nothingtochance.co/' target='_blank') nothingtochance.co
                a(href='http://unsplash.co/' target='_blank') Unsplash
// jQuery
script(src='js/jquery.min.js')
// jQuery Easing
script(src='js/jquery.easing.1.3.js')
// Bootstrap
script(src='js/bootstrap.min.js')
// Waypoints
script(src='js/jquery.waypoints.min.js')
// Flexslider
script(src='js/jquery.flexslider-min.js')
// Counters
script(src='js/jquery.countTo.js')
// Owl Carousel
script(src='js/owl.carousel.min.js')
// Main JS (Do not remove)
script(src='js/main.js')
